.section {
    padding: 50px;
}

.hero {
    background-color: darkblue;
    height: 50%;    
}

.hero h1 {
    color: white;
    font-size: 50;
}

.hero p {
    color:white;
    font-size: 30;
}

#projects h1 {

}


.headshot {

    clip-path: ellipse(100px 100px);
    margin-bottom: 75px;
}