.section {
    padding: 50px;
}

.hero {
    height: 50%;    
}

.hero h1 {
    color: white;
    font-size: 50;
}

.hero p {
    color:white;
    font-size: 30;
}

.headshot {

    clip-path: ellipse(100px 100px);
    margin-bottom: 75px;
}

#particles {
    position:fixed;
    width: 100%;
    z-index: -1;
    background-color: darkblue;
    height: 50%;
}